PORT=4000

DB_USER=postgres
DB_HOST=localhost
DB_NAME=booking-app
DB_PASSWORD=
DB_POST=5432

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

JWT_SECRET=

# Email config
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SECURE=false